:root{
  --white-font: whitesmoke;
  --lightest-gray: #adb5bd;
  --medium--gray: #495057;
  --darkest-gray: #212529;
  --disabled-button-color: #343a40;
  --red: #dc3545;
  --green: #198754;
}

body{
  display: flex;
  flex-direction: column;
}


/* Cards */
.card{
  position: absolute;
  left: 42%;
  top: 45%;
  border: 1px solid var(--darkest-gray);
  border-radius: 4px;
  padding: 1rem;  
  background-color: var(--lightest-gray);
  color: var(--darkest-gray);
}

.card button{
  color: var(--white-font);
  background-color: var(--medium--gray);
  margin: 0 1rem;
  border-radius: 4px;
  width: 4rem;
}

.card button:hover{
  transform: scale(1.15);
}

#start{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end{
  display: none;
}

#end div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end button{
  margin-top: 0.5rem;
}
/* Header CSS */

#header{
  display: flex;
  align-content: center;
  justify-content: center;
  height: 4rem;
  font-size: 2rem;
}

#gameBoard{
  grid-column: 2/3;
  width: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#middle-div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.square{
  display: inline-grid;
  align-items: center;
  justify-content: center;
  width: max(4rem, 10px);
  height: max(4rem, 10px);
  margin: 4px;
  border: 1px solid black;
}